:root {
    --cor-fundo: #0a0a0a;            /* Preto */
    --cor-principal: #1a001f;        /* Roxo escuro */
    --cor-secundaria: #800080;       /* Roxo médio */
    --cor-destaque: #ff69b4;         /* Rosa choque */
    --cor-texto: #ffe6f7;            /* Rosa claro */
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px var(--cor-destaque);
}

h1 {
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 15px;
    margin-top: 10px;
    transition: background-color 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
